<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

	<script type="text/javascript" charset="utf-8">
	if(location.href.match(/github\.io/)){
		var base = document.createElement("base")
		base.setAttribute("href", "http://fitstar.github.com/falcore/")
		document.getElementsByTagName("head")[0].appendChild(base)
	}
	</script>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Falcore</h1>
        <p>Modular HTTP server framework for Go</p>

        <ul class="thingie">
          <li><a href="https://github.com/fitstar/falcore/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/fitstar/falcore/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/fitstar/falcore">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><a href="https://godoc.org/github.com/fitstar/falcore">View the Project Documentation <small>github.com/fitstar/falcore</small></a></p>
        <p class="view"><a href="https://github.com/fitstar/falcore">View the Project on GitHub <small>fitstar/falcore</small></a></p>
		
		<ul class="nav">
			<li><a href="index.html">About Falcore</a></li>
			<li><a href="hot_restart.html">Hot Restart</a></li>
			<li><a href="performance.html">Performance</a></li>
		</ul>
      </header>
      <section>
		  {{ content }}
      </section>
      <footer>
        <p>
			This project is maintained by <a href="https://github.com/fitstar">FitStar</a><br>
	        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small><br>
			&copy; <a href="http://www.fitstar.com">FitStar Labs, Inc.</a> 2013
		</p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>